<div class="quicknotes-container">

	<div class="navbar-fixed">
		<nav class="quicknotes-nav">
			<div class="nav-wrapper container">
				<a class="brand-logo">Quicknotes</a>
				<ul class="right hide-on-med-and-down">
					<li><a class="delete-all-button" (click)="showDeleteAllModal()"><i class="material-icons right">delete_sweep</i>Delete All</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container create-quicknote">
		<form (ngSubmit)="createQuicknote()" autocomplete="off" novalidate [formGroup]="quicknoteForm">
			<div class="input-field">
				<textarea  id="body" formControlName="body" type="text"
						  class="materialize-textarea" data-length="160"></textarea>
				<label for="body">Note:</label>
			</div>
			<button type="submit" class="btn btn-primary create-quicknote-button right">Create Quicknote</button>
		</form>
	</div>

	<hr>

	<div class="quicknotes-list">

		<div *ngIf="quicknotes$ | async as quicknotes" class="container">
			<div *ngFor="let note of quicknotes">
				<quicknote [quicknote]="note" (deleteQuicknote)="deleteQuicknote($event)"></quicknote>
			</div>
		</div>

	</div>

</div>

<div #deleteAllModal materialize="modal" [materializeParams]="[{dismissible: false, inDuration: 200}]"
	 [materializeActions]="deleteAllActions" class="modal delete-all-modal">
	<div class="modal-header">
		<h5 class="modal-title title">Delete all quicknotes</h5>
	</div>


	<div class="delete-warning">
		After you delete your quicknotes, it's permanently deleted. Quicknotes cannot be recovered.
	</div>

	<div class="modal-footer">
		<a (click)="deleteAll()" class="modal-action modal-close waves-effect waves-red btn-flat delete-all">Delete All</a>
		<a class="modal-action modal-close waves-effect btn-flat" id="cancel-button">CANCEL</a>
	</div>

</div>
