.quicknotes-nav {
	background-color: #263238;
}

.delete-all-button:hover {
	color: white;
}

.create-quicknote {
	margin-top: 20px;
}

.quicknotes-list {
	margin-top: 20px;
}

.create-quicknote-button {
	margin-top: 15px;
}

.modal-header {
	font-size: 20px;
	border-bottom: 0;
	font-weight: bold;
	padding: 0;
	margin-bottom: 15px;
}

.modal-body {
	overflow-y: scroll;
}

.delete-all-modal {
	width: 500px;
	height: 235px;
	margin-top: 20px;
	padding: 25px;
}

.delete-all {
	background-color: #ff5252;
	color: white;
}

#cancel-button {
	margin-right: 5px;
}

.delete-warning {
	background-color: #fbe9e7;
	color: #d50000;
	padding: 12px 25px 12px 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (min-width: 992px) {
	.quicknotes-nav {
		width: -webkit-calc(100% - 300px);
		width:    -moz-calc(100% - 300px);
		width:         calc(100% - 300px);
	}
}

@media (max-width: 992px) {
	.quicknotes-nav {
		width: 100%;
	}
	.search-input-icon {
		padding-left: 40px;
	}
	.input-field input[type=search] {
		padding-left: 85px;
	}
}
