<div class="card account-card">
	<div class="card-content white-text">
		<span class="card-title">{{account.website || '[No Website]'}}</span>
		<p>Email: {{account.login || '[No Login]'}}</p>
		<p *ngIf="hiddenPassword">Password: **********</p>
		<p *ngIf="!hiddenPassword">Password: {{account.password || '[No Password]'}}</p>
	</div>
	<div class="card-action">
		<!--<p class="left date">{{account.date_created | date:'MMM dd'}}</p>-->
		<a (click)="showPassword()" class="left" id="show-password">
			<i *ngIf="hiddenPassword" class="material-icons search-input no-select">visibility</i>
			<i *ngIf="!hiddenPassword" class="material-icons search-input no-select">visibility_off</i>
		</a>
		<a (click)="goToEditAccount()">EDIT</a>
		<a (click)="deleteThisAccount()" id="delete-button">DELETE</a>
	</div>
</div>
