<nav class="accounts-nav">
	<div class="nav-wrapper">
		<a class="brand-logo center">New Account</a>
	</div>
</nav>

<div class="container createAccountSection">

	<form (ngSubmit)="createAccount()" autocomplete="off" novalidate [formGroup]="createAccountForm">
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">language</i>
				<input formControlName="website" id="website" type="text" class="validate">
				<label for="website">Website</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">email</i>
				<input formControlName="login" id="login" type="text" class="validate">
				<label for="login">Login</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">lock</i>
				<input formControlName="password" id="password" type="password" class="validate">
				<label for="password">Password</label>
			</div>
		</div>

		<button class="btn waves-effect waves-light" type="submit" name="action">Create Account
			<i class="material-icons right">send</i>
		</button>
	</form>

	<form action="#">
		<p class="range-field">
			<input type="range" id="test5" min="0" max="100" />
		</p>
	</form>

</div>
