<nav class="accounts-nav">
	<div class="nav-wrapper">
		<a class="brand-logo center">Accounts</a>
	</div>
</nav>

<div *ngIf="accounts$ | async as accounts" class="container">
	<div *ngFor="let account of accounts">
		<account [account]="account"></account>
	</div>
</div>

<ng-template #loadingAccounts>
	<div class="progress">
		<div class="indeterminate"></div>
	</div>
</ng-template>

<div class="fixed-action-btn">
	<a (click)="addAccount()" class="btn-floating btn-large btn red tooltipped"
	   data-position="left" data-delay="50" data-tooltip="Add Account">
		<i class="large material-icons">add</i>
	</a>
	<ul>
		<li></li>
		<!--<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>-->
		<!--<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>-->
		<!--<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>-->
		<!--<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>-->
	</ul>
</div>
