<div class="notes-container">

	<notes-search
		[noteKeys]="noteKeys$ | async"
		[userKey]="(user$ | async)?.uid"></notes-search>

	<notes-option-bar
		[notes]="notes$ | async"
		[noteKeys]="noteKeys$ | async"
		[sortBy]="sortBy"
		[userKey]="(user$ | async)?.uid"
		(updateSort)="updateSort($event)"></notes-option-bar>

	<notes-list
		*ngIf="notes$ | async"
		[notes]="notes$ | async"
		[reverse]="sortBy === 'ORDER_BY_NEWEST'"
		[userKey]="(user$ | async)?.uid"></notes-list>

	<div class="fixed-action-btn">
		<a [routerLink]="['/', 'home', 'notes', 'new']"
		   class="btn-floating btn-large btn red"
		   data-position="left" title="Add Note">
			<i class="large material-icons">add</i>
		</a>
	</div>



</div>
