<!-- Log In Modal -->
<div #loginModal materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 200}]" [materializeActions]="loginModalActions" class="modal">
	<h4 class="modal-title title">Log In</h4>
	<img (click)="close()" class="cancelIcon svgIcon" src="assets/images/cancel.svg"/>

	<div *ngIf="(loginErrors$ | async)?.length > 0">
		Errors: {{loginErrors$ | async}}
	</div>

	<form (ngSubmit)="login()" autocomplete="off" novalidate [formGroup]="loginForm">
		<h2>Login</h2>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" id="loginEmail" name="email" formControlName="email">
				<label for="loginEmail">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" class="validate" id="loginPassword" name="password" formControlName="password">
				<label for="loginPassword">Password:</label>
			</div>
		</div>

		<button (click)="close()" type="button" class="btn btn-default">Close</button>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>

<!-- Sign Up Modal -->
<div #signupModal materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 200}]" [materializeActions]="signupModalActions" class="modal">
	<h4 class="modal-title title">Sign Up</h4>
	<img (click)="close()" class="cancelIcon svgIcon" src="assets/images/cancel.svg"/>

	<div *ngIf="(signupErrors$ | async)?.length > 0">
		Errors: {{signupErrors$ | async}}
	</div>

	<form (ngSubmit)="signup()" autocomplete="off" novalidate [formGroup]="signupForm">
		<fieldset>
			<legend>Sign Up</legend>
			<div class="form-field">
				<label>Email</label>
				<input type="text" name="email" formControlName="email">
			</div>
			<div class="form-field">
				<label>First Name</label>
				<input type="text" name="first_name" formControlName="first_name">
			</div>
			<div class="form-field">
				<label>Last Name</label>
				<input type="text" name="last_name" formControlName="last_name">
			</div>
			<div class="form-field">
				<label>Password:</label>
				<input type="text" name="password" formControlName="password">
			</div>
		</fieldset>
		<button (click)="close()" type="button" class="btn btn-default">Close</button>
		<button type="submit" class="btn btn-primary">Sign Up</button>
	</form>
</div>


<!-- Pin Modal -->
<div #pinModal materialize="modal" [materializeParams]="[{dismissible: false, inDuration: 200}]"
	 [materializeActions]="pinModalActions" class="modal">
	<h4 class="modal-title title">Enter Pin</h4>
	<img (click)="close()" class="cancelIcon svgIcon" src="assets/images/cancel.svg"/>


	<form autocomplete="off" (submit)="setPin(pinInput.value)">
		<div>

		</div>
		<div class="input-field col s6">
			<input #pinInput id="pin" type="text" class="validate">
			<label for="pin">Pin</label>
		</div>
	</form>

	<button (click)="cancelPin()">Cancel</button>

</div>

