<!-- Log In Modal -->
<div #loginModal materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 200}]"
	 [materializeActions]="loginModalActions" class="modal login-modal">
	<div class="modal-header">
		<h4 class="modal-title title">Log In</h4>
		<img (click)="close()" class="cancelIcon svgIcon" src="assets/images/cancel.svg"/>
	</div>
	<div *ngIf="(loginErrors$ | async)?.length > 0" class="error-row">
		<span class="error-message">{{loginErrors$ | async}}</span>
	</div>

	<form (ngSubmit)="login()" autocomplete="off" novalidate [formGroup]="loginForm" class="login-form">
		<div class="input-field">
			<input type="email" id="loginEmail" name="email" formControlName="email" class="validate">
			<label for="loginEmail" data-error="Invalid email format.">Email</label>
		</div>
		<div class="input-field password-field">
			<input type="password" class="validate" id="loginPassword" name="password" formControlName="password">
			<label for="loginPassword" data-error="Password required.">Password:</label>
		</div>

		<button type="submit" class="btn btn-primary login-button">Login</button>
	</form>
	<div class="oauth-row">
		<img (click)="loginWithGoogle()" class="google-button-image" src="assets/images/google-sign-in-button.png">
	</div>

</div>

<!-- Sign Up Modal -->
<div #signupModal materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 200}]"
	 [materializeActions]="signupModalActions" class="modal signup-modal">
	<div class="modal-header">
		<h4 class="modal-title title">Sign Up</h4>
		<img (click)="close()" class="cancelIcon svgIcon" src="assets/images/cancel.svg"/>
	</div>

	<div *ngIf="(signupErrors$ | async)?.length > 0" class="error-row">
		<span class="error-message">{{signupErrors$ | async}}</span>
	</div>

	<form (ngSubmit)="signup()" autocomplete="off" novalidate [formGroup]="signupForm" class="signup-form">

			<div class="input-field">
				<input class="signup-input" type="email" id="signupEmail" name="email" formControlName="email">
				<label for="signupEmail">Email</label>
			</div>
			<div class="input-field">
				<input class="signup-input" type="text" id="signupFirstName" name="first_name" formControlName="first_name">
				<label for="signupFirstName">First Name</label>
			</div>
			<div class="input-field">
				<input class="signup-input" type="text" id="signupLastName" name="last_name" formControlName="last_name">
				<label for="signupLastName">Last Name</label>
			</div>
			<div class="input-field">
				<input class="signup-input" type="text" id="signupPassword" name="password" formControlName="password">
				<label for="signupPassword">Password:</label>
			</div>
			<div class="input-field">
				<input class="signup-input" type="text" id="signupConfirmPassword" name="password" formControlName="confirm_password">
				<label for="signupConfirmPassword">Confirm Password:</label>
			</div>
		<button type="submit" class="btn btn-primary login-button">Sign Up</button>
	</form>
</div>


<!-- Pin Modal -->
<div #pinModal materialize="modal" [materializeParams]="[{dismissible: false, inDuration: 200}]"
	 [materializeActions]="pinModalActions" class="modal pin-modal">
	<div class="modal-header">
		<h4 class="modal-title title">Enter Pin</h4>
		<img (click)="cancelPin()" class="cancelIcon svgIcon" src="assets/images/cancel.svg"/>
	</div>


	<form autocomplete="off" novalidate (submit)="setPin(pinInput.value)" class="pin-form">
		<div class="input-field pin-input-field">
			<input #pinInput id="pin" type="password" class="validate">
			<label for="pin">Pin</label>
		</div>
		<div *ngIf="pinError" class="pin-error">
			{{pinError}}
		</div>
		<div class="pin-button-row">
			<button type="submit" class="btn btn-primary submit-pin-button">Enter</button>
			<button (click)="cancelPin()" class="btn btn-primary cancel-pin-button">Cancel</button>
		</div>
	</form>

</div>

