<nav class="notes-nav">
	<div class="nav-wrapper container">
		<a class="brand-logo" (click)="back()">
			<i class="material-icons">arrow_back</i>
			New Note
		</a>
	</div>
</nav>

<div class="container createNoteSection">

	<form (ngSubmit)="createNote()" autocomplete="off" novalidate [formGroup]="createNoteForm">
		<div class="row">
			<div class="input-field col s12">
				<input formControlName="title" id="title" type="text" class="title-input">
				<label for="title" class="active">Title</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<textarea autosize formControlName="body" id="body" class="body-textarea"></textarea>
				<label for="body" class="active">Body</label>
			</div>
		</div>

		<button class="btn waves-effect waves-light right" type="submit" name="action">Create Note
			<i class="material-icons right">send</i>
		</button>
	</form>

</div>
