.notes-nav {
	background-color: #263238;
}

.createNoteSection {
	margin-top: 30px;
}

.title-input {
	font-size: 26px;
}

.body-textarea {
	padding-bottom: 10px;
	padding-top: 10px;
	border: 0;
	resize: none;
	border-bottom: 1px solid dimgrey;
}

.body-textarea:focus {
	outline: none;
}
