.accounts-nav {
	background-color: #263238;
}
.searchResults {
	top: 64px;
	left: 2.5%;
	position: absolute;
	width: 95%;
	z-index: 800;
	background-color: white;
	font-size: 1.3em;
}

/* Individual result */
.searchResult {
	padding-left: 20px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
}
::-moz-placeholder { /* Firefox 19+ */
	color: white;
}
:-ms-input-placeholder { /* IE 10+ */
	color: white;
}
:-moz-placeholder { /* Firefox 18- */
	color: white;
}
.select-sort {
	width: 150px;
	margin-right: 20px;
	margin-top: 25px;
}

.hovering {
	background-color: lightgray;
	cursor: pointer;
}

@media (min-width: 992px) {
	.accounts-nav {
		width: -webkit-calc(100% - 300px);
		width:    -moz-calc(100% - 300px);
		width:         calc(100% - 300px);
	}
}

@media (max-width: 992px) {
	.accounts-nav {
		width: 100%;
	}
	.search-input-icon {
		padding-left: 40px;
	}
	.input-field input[type=search] {
		padding-left: 85px;
	}
}
