.accounts-nav {
	background-color: #263238;
}

.accountDetailSection {
	margin-top: 30px;
}

.title-date {
	margin-left: 8px;
}

.tiny-date {
	font-size: 12px;
}

.delete-button {
	margin-right: 7px;
}
