<nav class="accounts-nav">
	<div class="nav-wrapper container">
		<a class="brand-logo" (click)="back()">
			<i class="material-icons">arrow_back</i>
			New Account
		</a>
	</div>
</nav>

<div class="container createAccountSection">

	<form (ngSubmit)="createAccount()" autocomplete="off" novalidate [formGroup]="createAccountForm">
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">language</i>
				<input formControlName="website" id="website" type="text" class="validate">
				<label for="website">Website</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">account_circle</i>
				<input formControlName="login" id="login" type="text" class="validate">
				<label for="login">Login</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">lock</i>
				<input formControlName="password" [(ngModel)]="passwordField" id="password" type="text" class="validate">
				<label for="password" class="active">Password</label>
			</div>
		</div>
		<div class="row range-picker">
			<div class="generatePasswordOptionRow">

				<input type="checkbox" class="filled-in" id="uppercase-box" checked="checked"
					[(ngModel)]="uppercaseChecked"
					   [ngModelOptions]="{standalone: true}"
					   (ngModelChange)="createPassword(generatePasswordLength)"
					/>
				<label for="uppercase-box">Uppercase Letters</label>

				<input type="checkbox" class="filled-in" id="lowercase-box" checked="checked"
					   [(ngModel)]="lowercaseChecked"
					   [ngModelOptions]="{standalone: true}"
					   (ngModelChange)="createPassword(generatePasswordLength)"
				/>
				<label for="lowercase-box">Lowercase Letters</label>

				<input type="checkbox" class="filled-in" id="numbers-box" checked="checked"
					   [(ngModel)]="numbersChecked"
					   [ngModelOptions]="{standalone: true}"
					   (ngModelChange)="createPassword(generatePasswordLength)"
				/>
				<label for="numbers-box">Numbers</label>

				<input type="checkbox" class="filled-in" id="symbols-box"
					   [(ngModel)]="symbolsChecked"
					   [ngModelOptions]="{standalone: true}"
					   (ngModelChange)="createPassword(generatePasswordLength)"
				/>
				<label for="symbols-box">Symbols</label>
			</div>
			<p class="range-field">
				<input type="range" [(ngModel)]="generatePasswordLength"
					   (ngModelChange)="createPassword($event)"
					   [ngModelOptions]="{standalone: true}" id="password-range" min="8" max="32" value="12">
			</p>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">mode_edit</i>
				<textarea autosize formControlName="account_notes" id="account_notes" class="body-textarea"></textarea>
				<label for="account_notes" class="active">Body</label>
			</div>
		</div>

		<button class="btn waves-effect waves-light right" type="submit" name="action">Create Account
			<i class="material-icons right">send</i>
		</button>
	</form>

</div>
