/* You can add global styles to this file, and also import other style files */

* {
	font-family: 'Open Sans', 'Helvetica Neue', 'Times New Roman'
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

.success-toast {
	background-color: green;
}

.warning-toast {
	background-color: orange;
}

.error-toast {
	background-color: red;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: 90%;
	}
}

body {
	background-color: #fafafa;
}
