/* You can add global styles to this file, and also import other style files */

a:hover {
	text-decoration: none;
}

.success-toast {
	background-color: green;
}

.warning-toast {
	background-color: orange;
}

.error-toast {
	background-color: red;
}

nav {
}

@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: 90%;
	}
}
