.pagination {
	margin-left: 10px;

}

.option-bar {
	height: 80px;
}


.select-sort {
	width: 150px;
	margin-right: 20px;
	margin-top: 25px;
}

@media only screen and (max-width: 992px) {
	.pagination {
		width: auto;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 90%;
	}
}
